
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">


{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

    <head>


        <title>Portfolio Will</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'sobre/vendor/bootstrap/css/pagina_inicial.css' %}" rel="stylesheet">

      </head>

<body>
<h2>MEU NOME É</h2>
<h1>W.DRYGLA</h1>
    <a class="nav-link1" href="/sobre/">Sobre</a>
    <a class="nav-link2" href="/curriculo/">Curriculo</a>



</body>
</html>